<!DOCTYPE HTML>
<html>
    <head>
        <title>Ruby workshop</title>
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/app.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
